backbone:
  checkpoint: "/media/data/divyanshu/sophont/checkpoints/brainiac_traincsv_simclr_norm_vit_cls_vitb_tejas_lr0005_best-model-epoch=11-train_loss=0.00.ckpt"
  img_size: [96, 96, 96]
  patch_size: [16, 16, 16]
  hidden_size: 768
  mlp_dim: 3072
  num_layers: 12
  num_heads: 12
  in_channels: 1

data:
  dataset_type: "brainage"
  size: [96, 96, 96]
  batch_size: 64
  num_workers: 4
  csv_file: "/media/data/divyanshu/sophont/csvs/brainiac_train.csv"
  root_dir: "/media/data/divyanshu/foundation_model/brainiac_data"
  use_embeddings: True
  embedding_csv: "/media/data/divyanshu/sophont/features_val/brainiac_traincsv_simclr_norm_vit_cls_vitb_cls_precompute_embeddings.csv"
  embedding_npy: "" 
  embedding_device: "cuda:0"
  embedding_source_csv: "/media/data/divyanshu/sophont/csvs/brainiac_train.csv"
  embedding_label_col: "label"
  embedding_model: "simclr"  # simclr or sae

model:
  latent_dim: 49152
  sparsity_type: "topk"  # topk or l1
  topk: 64
  l1_weight: 0.00003
  lambda_sim: 0.01
  lambda_anchor: 1.0
  beta_wz: 0.0
  adapter_type: "mlp_grounded"  # linear or mlp or mlp_grounded
  mlp_hidden_dim: 6144
  mlp_activation: "leaky_relu"  # leaky_relu or elu
  leaky_relu_slope: 0.01
  mlp_init_scale: 1.0

optim:
  lr: 0.0003
  weight_decay: 0.0001

trainer:
  max_epochs: 50
  precision: "16-mixed"
  devices: [0]

logger:
  save_dir: "/media/data/divyanshu/sophont/checkpoints"
  save_name: "sae_adapter_top32_latent49152_precomputedembeddings_vaniallasae_lr0003_tejas-{epoch:02d}-{train_loss:.4f}"
  project: "brainiac_sae"
  run_name: "sae_adapter_top32_latent49152_precomputedembeddings_vaniallasae_lr0003"

inference:
  val_csv: "/media/data/divyanshu/sophont/csvs/brainiac_val.csv"
  #simclr_checkpoint: "/media/data/divyanshu/sophont/checkpoints/brainiac_traincsv_simclr_norm_vit_cls_vitb_tejas_lr0005_best-model-epoch=11-train_loss=0.00.ckpt"
  sae_checkpoint: "/media/data/divyanshu/sophont/checkpoints/sae_adapter_top64_latent49152_precomputedembeddings_vaniallasae_lr0003_tejas-epoch=49-train_loss=0.0008.ckpt"
  out_dir: "/media/data/divyanshu/sophont/linear_probe/idh_csvs"
  #simclr_file: "brainiac_traincsv_vanillasae_top64_latent49152.csv"
  sae_file: "idh_T1CE_vanillasae_top64_latent49152_TEST_precompute_embeddings.csv"
  embedding_csv: "/media/data/divyanshu/sophont/linear_probe/idh_csvs/idh_t1ce_simclr_TEST_precompute_embeddings.csv"
